@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --dark-title: #06d2ff;
    --dark-subtitle: #3c8aff;
    --dark-background: #001021;
    --dark-button: #002c5c;
    --light-title: #274c77;
    --light-subtitle: #302dcf;
    --light-background: #e7ecef;
    --light-button: #a3cef1;
}

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./home.css";
@import "./certifications.css";
@import "./jobs.css";
@import "./project.css";
@import "./modal.css";
@import "./nav.css";
@import "./404.css";

@layer components {
    body {
        @apply bg-l-background text-black ease-in duration-300 origin-top-right;
        @apply dark:bg-d-background dark:text-white;
    }

    section {
        @apply container mx-auto;
    }

    h1 {
        @apply text-5xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    .single-page {
        @apply h-[calc(100vh-7rem)];
    }

    .photo {
        @apply rounded-full object-cover;
    }

    .title {
        @apply text-l-title dark:text-d-title;
    }

    .subtitle {
        @apply text-l-subtitle dark:text-d-subtitle;
    }

    .button {
        @apply bg-l-button dark:bg-d-button ease-in duration-200 text-center;
        @apply hover:bg-l-title hover:text-white;
        @apply hover:dark:bg-d-title hover:dark:text-black;
    }

    .link {
        @apply underline decoration-2 decoration-l-title;
        @apply dark:decoration-d-title;
    }
}

@tailwind utilities;
